:root {
  --primary-color: #dcb220;
  --secondary-color: #252c37;
  --accent-color: #ffd963;
  --text-color: #ffffff;
  --background-color: #313638;
  --link-color: #e4b511;
  --link-hover-color: #dcb220;
}

[data-theme="light"] {
  --primary-color: #dcb220;
  --secondary-color: #f0f2f5;
  --accent-color: #ffd963;
  --text-color: #333333;
  --background-color: #ffffff;
  --link-color: #dcb220;
  --link-hover-color:  #333333;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1.8;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--link-color);
  transition: color 0.3s;
}

.theme-toggle:hover {
  color: var(--link-color);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: 3s; */
}

html {
  scroll-behavior: smooth;
}

h3{
  color: #252c37;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Navbar */
.navbar, main, footer {
  z-index: 1; /* Ensures they appear above particles */
  position: relative; /* Required for z-index to work */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
  position: sticky;
  top: 0;
  background: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar .left a {
  color: #e4b511;
  font-size: 50px;
  font-weight: 600;
  font-family: serif;
}

.navbar .right a {
  color: var(--text-color);
  margin: 0 10px;
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.navbar .right a:hover {
  color: var(--link-color);
}

.navbar .right a span {
  margin-left: 5px;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background: var(--primary-color);
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-section .text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-section .text p {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: justify;
}

.hero-section .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-section .links a {
  display: inline-block;
  color: #4a4a4a;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-section .links a:hover {
  filter: brightness(0.9);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
/* Typewriter effect for the hero section */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from, to { border-color: transparent }
}
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink .75s step-end infinite;
}
/* About Section */
.about-section {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.about-section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.about-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about-section .content .image {
  text-align: center;
}

.about-section .content .image img {
  width: 100%;
  /* max-width: 300px; */
  border-radius: 10px;
}

.about-section .content .text {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
}

/* Projects Section */

.projects-section .project-intro .text {
  text-align: justify;
}

.project-intro {
  text-align: justify; 
  font-size: 1rem;
  margin-top: 20px; 
  line-height: 1.8; 
  color: var(--text-color); 
  margin-left: auto; 
  margin-right: auto;
}
.projects-section {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.projects-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.projects-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project-card {
  flex: 0 1 30%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.project-card img {
  width: 100%; 
  max-height: 250px; 
  object-fit: fill; 
  display: block; 
  margin: 0 auto; 
  position: relative;
  z-index: 1; 
}

.project-details {
  padding: 15px;
  background: #ffffff; 
  position: relative;
  z-index: 2; 
}

.project-card:hover img {
  transform: scale(1.4); 
  transition: transform 0.5s ease;
}

.project-card:hover {
  transform: translateY(-1px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-details {
  padding: 15px;
}

.project-details h3 {
  margin-bottom: 10px;
}

.project-details p {
  color: #777;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.project-card img {
  width: 100%; 
  height: auto; 
  object-fit: fill;
  
}

.project-details {
  padding: 15px;
  text-align: center;
}

.project-details h3 {
  font-size: 1.1rem;
}

.project-details p {
  font-size: 0.8rem;
  text-align: inherit;
  color: #555;
}
.project-details .cta-btn {
  display: inline-block;
  margin-top: 20px; 
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 12px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-details .cta-btn:hover {
  background-color: var(--link-color); /* Hover effect */
}

/* Carousel Container */
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* Full-width on mobile */
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

/* Carousel Items */
.carousel {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

/* Each Slide */
.carousel-slide {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  width: 100%; /* Each slide takes full width */
  gap: 20px;
}

/* Carousel Buttons */
.carousel-buttons-wrapper {
  text-align: center;
}

.carousel-btn {
  width: 20px;
  height: 20px;
  /* background: #ccc; */
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.carousel-btn.active {
  background: var(--primary-color);
}

/* Contact Section */
#contact-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Keep particles behind the content */
}

.contact-section {
  padding: 10px 20px;
  margin-bottom: 10px;
  position: relative; /* Ensures particles are confined */
  overflow: hidden; /* Prevent particles from spilling out */
}

.contact-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.contact-section .group {
  display: flex;
  margin-top: -10px; 
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-section .group .text {
  text-align: justify;
}

.contact-section .group form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.contact-section .group form label {
  margin-bottom: 5px;
  font-weight: 600;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid #e4b50f;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
  border-radius: 5px;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #252c37;
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section .group form button:hover {
  filter: brightness(.9);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Scroll to Top Button */

#scrollTopBtn {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
    font-size: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-out;
}

#scrollTopBtn:hover {
  background-color: var(--link-hover-color);
}

#scrollTopBtn:hover {
  transform: translateY(-4px);
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    text-align: left;
  }

  .hero-section .links {
    flex-direction: row;
  }

  .about-section .content {
    flex-direction: row;
  }

  .projects-section {
    text-align: center;
  }

  .projects-group {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    
  }

  .contact-section .group {
    flex-direction: column;
  }
  #about{
    scroll-margin: 65px;
  }
  #projects{
    scroll-margin: 65px;
  }
  #contact{
    scroll-margin: 65px;
  }
}
 /* Bouncy effects */

@keyframes bounceIn {
0% {
  transform: scale(0.5);
  opacity: 0;
}
70% {
  transform: scale(1.2);
  opacity: 1;
}
100% {
  transform: scale(1);
}
}
.bouncy {
animation: bounceIn 2s ease-in-out;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
}
40% {
  transform: translateY(-30px);
}
60% {
  transform: translateY(-15px);
}
}

.bounce {
animation: bounce 1s ease;
}


@media (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar .right a {
    font-size: 22px;
  }

  .navbar .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  .navbar .right a span {
    display: none;
  }

  .hero-section .text h1 {
    font-size: 30px;
  }

  .about-section,
  .projects-section,
  .contact-section {
    padding: 10px 20px;
  }

  #about{
    scroll-margin: 90px;
  }
  #projects{
    scroll-margin: 90px;
  }
  #contact{
    scroll-margin: 90px;
  }
  /* Bouncy effects */
}
@keyframes bounceIn {
0% {
  transform: scale(0.5);
  opacity: 0;
}
70% {
  transform: scale(1);
  opacity: 1;
}
100% {
  transform: scale(1);
}
}
.bouncy {
animation: bounceIn 2s ease-in-out;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
}
40% {
  transform: translateY(-30px);
}
60% {
  transform: translateY(-15px);
}
}

.bounce {
animation: bounce 0.8s ease;
}

/* Mobile View  */
@media (max-width: 600px) {
  .carousel-slide {
    flex-direction: column; 
    align-items: center;
    gap: 20px; 
  }

  .project-card {
    width: 90%; 
    min-height: fit-content;
    margin: 0 auto; 
  }

  .carousel-container {
    padding: 10px; 
  }
}

/* .carousel {
  display: flex;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
} */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: auto; /* Allow the canvas to detect user interactions */
}
